a:link {
  color: initial;
  text-decoration: none
}

/* 未访问的链接 */
a:visited {
  color: initial;
  text-decoration: none
}

/* 已访问的链接 */
a:hover {
  color: initial;
  text-decoration: none
}

/* 鼠标移动到链接上 */
a:active {
  color: initial;
  text-decoration: none
}

/* 选定的链接 */
body {
  background-color: #FFF;
}

ul {
  list-style: none;
  padding: 0;
}

@back_gray: #efefef;
@base_blue: #0A5373;
@lighting_blue: #6A93A5;

@shadow: #D2D1D1;


.swiper-container {
  width: 100%;
  height: 980px;
  .swiper-slide{
    text-align: center;
  }
}

.swiper-pagination {
  bottom: 170px !important;
}

.swiper-pagination-bullet {
  width: 77px !important;
  height: 10px;
  border-radius: 0;
  background-color: #D0D9DD;
}

.swiper-pagination-bullet-active {
  background-color: @base_blue;
}

.copyright {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .license {
    color: #000;
  }
  .mobile {

  }
}

.content {
  width: 1450px;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 0 160px @shadow;
  position: relative;
  top: -160px;
  z-index: 10;
  .navi_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding-top: 19px;
    font-size: 28px;
    border-bottom: 1px solid #DFDFDF;
    li {
      width: 8em;
      height: 4em;
      line-height: 4em;
      text-align: center;
    }
    li.active {
      border-bottom: 3px solid @base_blue;
    }
  }
  .page_content {
    padding: 50px 40px;
    .content_container {
      background-color: @back_gray;
      padding: 50px 40px;
    }
  }
}

p.gap {
  border-bottom: 1px solid #999;
}