a:link {
  text-decoration: none
}

/* 未访问的链接 */
a:visited {
  text-decoration: none
}

/* 已访问的链接 */
a:hover {
  text-decoration: none
}

/* 鼠标移动到链接上 */
a:active {
  text-decoration: none
}

a {
  color: @font_color;
}

/* 选定的链接 */
body {
  background-color: #FFF;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

@font_color: #333333;

@back_gray: #efefef;
@base_blue: #0A5373;
@lighting_blue: #6A93A5;

@shadow: #D2D1D1;

@biggest_tab_size: 20px;
@main_title_size: 24px;
@biggest_title_size: 18px;
@bigger_title_size: 16px;
@common_title_size: 14px;
@nav_bar_size: 14px;
@know_more_size: 14px;
@content_size: 12px;
@view_port_width: 1160px;
@text_line_height: 160%;
.swiper-container {
  width: 100%;
  .swiper-slide {
    height: 560px;
    .swiper-item {
      width: 100%;
      height: 560px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .page_header {
    width: 1330px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    .i18n_container {
      z-index: 999;
      position: absolute;
      top: 15px;
      right: 10px;
      .i18n_toggle {
        line-height: @text_line_height;
        cursor: pointer;
        width: 3em;
        text-align: center;
        display: inline-block;
        font-size: @content_size;
        margin: 1em 0;
      }
      .i18n_toggle.active {
        text-decoration: underline;
      }
      .inner_work_zone {
        color: @base_blue;
        text-align: center;
        font-size: @content_size;
      }
    }
    .logo_container {
      z-index: 999;
      position: absolute;
      top: 15px;
      left: 10px;
      width: 268px;
      height: 63px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.swiper-pagination {
  bottom: 100px !important;
}

.swiper-pagination-bullet {
  width: 77px !important;
  height: 10px;
  border-radius: 0;
  background-color: #D0D9DD;
}

.swiper-pagination-bullet-active {
  background-color: @base_blue;
}

.page_footer {
  text-align: center;
  .copyright {
    font-size: @content_size;
    margin: 0 auto;
    width: @view_port_width;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .license {
      color: #000;
      text-align: left;
    }
    .mobile {
      display: flex;
      align-items: center;
      .phone_icon {
        width: 34px;
        height: 34px;
        margin: 10px;
      }
    }
  }
}


#content {
  width: @view_port_width;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 0 160px @shadow;
  position: relative;
  top: (-4*@nav_bar_size);
  z-index: 10;
  .navi_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: @nav_bar_size;
    border-bottom: 1px solid #DFDFDF;
    margin: 0;
    li {
      box-sizing: border-box;
      width: 8em;
      height: 4em;
      line-height: 4em;
      text-align: center;
      position: relative;
    }
    li.active {
      a {
        color: @base_blue !important;
      }
    }
    li.active:after {
      content: '';
      width: 2em;
      display: inline-block;
      border-bottom: 2px solid #0A5373;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
    }
  }
  .page_content {
    padding: 40px 30px;
    .content_container {
      background-color: @back_gray;
      padding: 40px 30px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

p.gap {
  border-bottom: 2px solid #999;
}

.under_line {
  position: relative;
}

.under_line:after {
  content: '';
  width: 2em;
  display: inline-block;
  border-bottom: 2px solid #0A5373;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -.6em;
}