@import "base";

.contact_item {
  width: 100%;
  margin: 100px 0;
  .contact_item_header {
    .item_title {
      font-size: 28px;
      color: #FFF;
      min-width: 8em;
      padding: 0 1em;
      background-color: @base_blue;
      text-align: center;
      display: inline-block;
    }
    border-bottom: 2px solid @base_blue;
  }
  .iconfont{
    font-size: 28px;
    vertical-align: middle;
    margin: 0 10px;
  }
}
