@import "base";

.intro {
  width: 100%;
  margin-bottom: 80px;
  .intro_nav_list {
    max-width: 100%;
    width: 60%;
    min-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: @biggest_title_size;
    font-weight: bold;
    height: 2em;
    border-bottom: @base_blue;
    li {
      margin: 0 20px;
      cursor: pointer;
      flex: 0 0 4em;
    }
    li.active {
      color: @base_blue;
      border-bottom: 2px solid @base_blue;
    }
  }
  .intro_content {
    font-size: @content_size;
    font-family: @content_font_family;
    margin: 50px 0;
    display: none;
    line-height: @text_line_height;
  }
  .intro_content.active {
    display: block;
    max-height: 200px;
    overflow: hidden;
  }
  .intro_content.active.show_all {
    max-height: initial;
  }
  .know_more_container {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
    .know_more_cube_btn.intro_know_more {
      color: #FFF;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: @nav_bar_size;
    }
  }
}

.show_list_container {
  width: 100%;
  text-align: center;
  .show_title {
    font-size: @main_title_size;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 80px;
  }
  .show_list {
    display: flex;
    justify-content: space-around;
    li {
      padding: 0 10px;
      flex: 0 0 242px;
      text-align: center;
      .show_item {
        position: relative;
        width: 100%;
        display: block;
        img {
          width: 100%;
          height: 334px;
        }
        .show_item_info {
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(bottom, #FFF, rgba(0, 0, 0, 0));
          .show_item_info_text {
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: left;
            padding: 20px;
            .item_name {
              padding-left: .5em;
              font-size: @biggest_title_size;
              border-left: solid 5px @base_blue;
            }
            .item_intro {
              font-size: @content_size;
              font-family: @content_font_family;
            }
          }
        }
      }
      .show_item:hover {
        z-index: 99;
        transform: scale(1.1);
        transition: all .5s;
        box-shadow: 0 0 20px @shadow;
        .show_item_info {
          opacity: 1;
          transition: all .3s;
        }
      }
    }
  }
}

.classic_case {
  background-color: @back_gray;
  padding-bottom: 100px;
  .classic_case_banner {
    width: 100%;
    text-align: center;
    position: relative;
    .classic_case_banner_img {
      width: 100%;
    }
    .case_content_title {
      font-weight: bold;
      font-size: @main_title_size;
      margin: 0 auto;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
  .classic_case_content {
    .classic_case_content_item {
      box-sizing: border-box;
      border: 2px solid @lighting_blue;
      padding: 40px;
      margin: 40px auto;
      width: @view_port_width;
      .case_item_title {
        font-size: @bigger_title_size;
        color: @base_blue;
        border-left: 4px solid @base_blue;
        padding: 0 .5em;
        margin: 1em 0;
      }
      .case_item_content {
        font-family: @content_font_family;
        font-size: 13px;
        line-height: @text_line_height;
      }
      .case_item_footer {
        height: 1em;
        .case_know_more {
          font-size: @know_more_size;
          color: @base_blue;
          float: right;
        }
      }
    }
  }
}

.news {
  width: 100%;
  text-align: center;
  padding: 100px 0;
  .news_content_title {
    font-weight: bold;
    font-size: @main_title_size;
    margin: 0 auto;
    display: inline-block;
  }
  .news_content {
    margin: 0 auto;
    width: @view_port_width;
    padding: 70px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .news_item {
      text-align: left;
      flex: 0 0 250px;
      height: 250px;
      margin: 20px 0;
      box-shadow: 10px 10px 30px @shadow;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .news_item_title {
        font-size: @bigger_title_size;
        color: @base_blue;
        margin: 20px 0;
        flex: 0 0 1em;
      }
      .news_item_text {
        font-family: @content_font_family;
        font-size: @content_size;
        border-top: 2px dashed #C5C5C5;
        padding-top: 20px;
        flex: 1 0 10%;
        overflow: hidden;
        max-width: 100%;
        max-height: 96px;
        line-height: @text_line_height;
      }
      .news_item_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 3em;
        font-size: @common_title_size;
        line-height: @common_title_size;
        .date {
          font-size: @common_title_size;
        }
        .know_more {
          color: @base_blue;
        }
      }
    }
    .fill_item {
      flex: 0 0 250px;
      padding: 15px;
    }
  }
}

.partner {
  background-color: @back_gray;
  padding: 100px 0;
  text-align: center;
  .partner_title {
    font-weight: bold;
    font-size: @main_title_size;
    margin: 0 auto;
    display: inline-block;
  }
  .partner_list {
    width: @view_port_width;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .partner_logo {
      flex: 0 0 213px;
      img {
        max-width: 100%;
        max-height: 170px;
      }
    }
  }
}

.page_footer {

}

.know_more_cube_btn_container {
  text-align: center;
  padding: 3em;
  .know_more_cube_btn {
    background-color: @base_blue;
    color: #FFF;
    padding: 1em;
  }
}

.know_more_cube_btn {
  background-color: @base_blue;
  color: #FFF;
  padding: 1em;
}