@import "base";

.intro {
  width: 100%;
  margin-bottom: 80px;
  .intro_nav_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: @biggest_title_size;
    font-weight: bold;
    margin-bottom: 35px;
    li {
      padding: 40px 70px;
      margin: 0 20px;
      cursor: pointer;
      flex: 0 0 4em;
    }
    li.active {
      border-bottom: 5px solid @base_orange;
    }
  }
  .intro_content_border{
    padding: 35px 50px;
    border: solid 1px @base_border;
  }
  .intro_content_container {
    box-sizing: border-box;
    .intro_content {
      font-size: @bigger_title_size;
      font-family: @content_font_family;
      display: none;
      line-height: @text_line_height;
    }
    .intro_content.active {
      display: block;
      max-height: 200px;
      overflow: hidden;
    }
  }
  .intro_content.active.show_all {
    max-height: initial;
  }
  .know_more_container {
    text-align: center;
    margin-top: 20px;
    .know_more_cube_btn.intro_know_more {
      border: solid 1px @base_orange;
      color: @base_orange;
      padding: 1em 3em;
      line-height: 1em;
      border-radius: 3em;
      display: inline-block;
      font-size: 16px;
      box-sizing: padding-box;
    }
  }
}

.show_list_container {
  width: 100%;
  text-align: center;
  background-color: #f4f0ea;
  padding: 50px 0;
  .show_title {
    font-size: @biggest_title_size;
    font-weight: bold;
    margin: 0 auto 80px;
    color: @base_orange;
  }
  .show_list {
    display: flex;
    justify-content: space-around;
    li {
      padding: 0 10px;
      flex: 0 0 242px;
      text-align: center;
      .show_item {
        position: relative;
        width: 100%;
        display: block;
        img {
          width: 100%;
          height: 334px;
        }
        .show_item_info {
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: 0;
          top: 0;
          left: 0;
          background: -webkit-linear-gradient(bottom, #FFF, rgba(0, 0, 0, 0));
          .show_item_info_text {
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: left;
            padding: 20px;
            .item_name {
              padding-left: .5em;
              font-size: @biggest_title_size;
              border-left: solid 5px @base_orange;
            }
            .item_intro {
              font-size: @content_size;
              font-family: @content_font_family;
            }
          }
        }
      }
      .show_item:hover {
        z-index: 99;
        transform: scale(1.1);
        transition: all .5s;
        box-shadow: 0 0 20px @shadow;
        .show_item_info {
          opacity: 1;
          transition: all .3s;
        }
      }
    }
  }
}

.classic_case {
  background-color: #FFF;
  padding: 50px 0;
  .classic_case_banner {
    width: 100%;
    text-align: center;
    position: relative;
    .classic_case_banner_img {
      width: 100%;
    }
    .case_content_title {
      font-weight: bold;
      font-size: @main_title_size;
      color: @base_orange;
      margin: 0 auto;
    }

  }
  .classic_case_content {
    .classic_case_content_item {
      box-sizing: border-box;
      border: 2px solid @base_orange;
      padding: 40px;
      margin: 40px auto;
      width: @view_port_width;
      .case_item_title {
        font-size: @bigger_title_size;
        color: @base_orange;
        border-left: 4px solid @base_orange;
        padding: 0 .5em;
        margin: 1em 0;
      }
      .case_item_content {
        font-family: @content_font_family;
        font-size: 13px;
        line-height: @text_line_height;
      }
      .case_item_footer {
        height: 1em;
        .case_know_more {
          font-size: @know_more_size;
          color: @base_orange;
          float: right;
        }
      }
    }
  }
}

.news {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #f4f0ea;
  .news_content_title {
    font-weight: bold;
    font-size: @main_title_size;
    margin: 0 auto;
    color: @base_orange;
  }
  .news_content {
    margin: 0 auto;
    width: 950px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .news_item {
      flex: 0 0 463px;
      height: 162px;
      display: flex;
      margin: 20px 0;
      .news_img {
        flex: 0 0 162px;
        height: 162px;
        background-color: #D9D9D9;
        margin-right: 2px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .news_info {
        flex: 1 0 297px;
        text-align: left;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFF;
        .news_item_title {
          font-size: @bigger_title_size;
          color: @font_color;
          flex: 0 0 1em;
        }
        .news_date {
          font-size: 12px;
          text-align: right;
          padding-right: 10px;
        }
        .news_item_text {
          font-family: @content_font_family;
          font-size: @content_size;
          flex: 1 0 10%;
          overflow: hidden;
          max-width: 100%;
          max-height: 96px;
          line-height: @text_line_height;
        }
        .news_item_footer {
          text-align: right;
          padding-right: 10px;
          .know_more {
            color: #3b3a3a !important;
            text-decoration: underline;
            font-size: 12px;
            color: @base_orange;
            align-self: flex-end;
          }
        }
      }
    }
    .fill_item {
      flex: 0 0 250px;
      padding: 15px;
    }
  }
}

.partner {
  background-color: #FFF;
  padding: 50px 0;
  text-align: center;
  .partner_title {
    font-weight: bold;
    font-size: @main_title_size;
    margin: 0 auto;
    color: @base_orange;
  }
  .partner_list {
    width: @view_port_width;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .partner_logo {
      flex: 0 0 213px;
      img {
        max-width: 100%;
        max-height: 170px;
      }
    }
  }
}

.page_footer {

}

.know_more_cube_btn_container {
  text-align: center;
  margin: 50px 0;
  .know_more_cube_btn {
    border: solid 1px @base_orange;
    color: @base_orange;
    padding: 1em 3em;
    line-height: 1em;
    border-radius: 3em;
    display: inline-block;
    font-size: 16px;
    box-sizing: padding-box;
  }
}

.know_more_cube_btn {
}