@import "base";

.content_container {
  display: flex;
  align-items:center;
  padding: 40px 0 !important;
  flex-wrap: nowrap !important;
  #map{
    flex: 0 0 50%;
    width: 541px;
    height: 456px;
  }
  .areas {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    .area_name {
      display: inline-flex;
      width: 33%;
      height: 40px;
      color: @font_color;
      align-items: center;
      box-sizing:border-box;
    }
    .area_name.active{
      color: red;
    }
    .area_name::before {
      content: ' ';
      width: 11px;
      height: 11px;
      margin-right: 10px;
      display: inline-block;
      background-color: #999999;
      font-size: @content_size;
      border-radius: 50%;
    }
  }
}
.institution_bottom{
  text-align: center;
  margin: 3em 0;
  .know_more_cube_btn {
    border: solid 1px @base_orange;
    color: @base_orange;
    padding: 1em 3em;
    line-height: 1em;
    border-radius: 3em;
    display: inline-block;
    font-size: 16px;
    box-sizing: padding-box;
  }
}
