@import "base";
.content_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .news_item_container {
    color: @font_color;
    padding: 1em 0;
    box-sizing: border-box;
    position: relative;
    flex: 0 0 434px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    .news_item_header {
      flex: 0 0 211px;
      width: 434px;
      overflow: hidden;
      text-align: center;
      .news_img{
        width: 100%;
      }
    }
    .news_item_content {
      margin-top: 1em;
      flex: 0 0 8em;
      display: flex;
      .date {
        flex: 0 0 76px;
        height: 78px;
        width: 76px;
        border: solid 1px @font_color;
        text-align: center;
        font-size: 29px;
        font-weight: bold;
        color: @font_color;
        .day{
          line-height: 180%;
          display: block;
        }
        .month{
          line-height: .5em;
          display: block;
        }
      }
      .news_info {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        overflow: hidden;
        .news_title{
          font-size: @bigger_title_size;
          font-weight: bold;
          flex: 0 0 1em;
          margin-bottom: .5em;
        }
        .news_desc{
          font-size: @content_size;
          font-family: @content_font_family;
          line-height: @text_line_height;
          overflow : hidden;
          text-overflow: ellipsis;
          display:-webkit-box;
          -webkit-line-clamp:4;
          -webkit-box-orient: vertical;
        }
      }
    }
    .news_item_bottom{
      flex: 0 0 1em;
      .know_more{
        font-size: @know_more_size;
        position: absolute;
        font-weight: bold;
        right: 0;
        color: @base_orange;
        text-decoration: underline;
      }
    }
  }
}
